:root {
  --primary-tx-color: #212121;
  --secondary-tx-color: #757575;
  --secondary-bgd-color: #ffffff;
  --activate-btn-color: #2196F3;
}


body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--primary-tx-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}



.hide-title {
  visibility: hidden;
}

.list {
  list-style: none;
}

/* Шапка сайта ================================================*/

.navi .logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.navi .span {
  color: var(--activate-btn-color);
}

/* Навигация по сайту ================================================ */

.navi .link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-tx-color);
}

.navi .current {
  color: var(--activate-btn-color);
}

.navi .link:hover,
.navi .link:focus {
  color: var(--activate-color);
}



/* Наші переваги ================================================ */

.page .button {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-tx-color);



}

.page .button:hover,
.page .button:focus {
  color: var(--secondary-bgd-color);
  background: var(--activate-btn-color);

}


.page .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-tx-color);

}

.page .text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-tx-color);

}


/* Контакты в шапке ================================================ */


.auth .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-tx-color);
  text-decoration: none;
}

.auth .link:hover,
.auth .link:focus {
  color: var(--activate-btn-color);
}

/* Главная страница ================================================ */

.hero-title {
  color: var(--secondary-bgd-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--secondary-bgd-color);
  background: var(--activate-btn-color);

}

/* Описание с постами ================================================ */

.post .sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-tx-color);

}

.post .text-title {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-tx-color);
}

/* Наши проекты ================================================ */

.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-tx-color);
}

/* Фото нашей команды ================================================ */

.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.06em;
  color: var(--primary-tx-color);
}


.team-card {
  background: var(--secondary-bgd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-tx-color);
}

.team-worked {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-tx-color);
}

/* Подвал ================================================ */

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2094px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  background: #2F303A;

}


/* Лого подвала ================================================ */

.footer .span {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--activate-btn-color);
}


.footer .logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-bgd-color);
}

/* Контакты подвала ================================================ */



.adress .map {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-bgd-color);


}

.adress .contact {
  text-decoration: none;
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress .contact:hover,
.adress .contact:focus {
  color: var(--activate-btn-color);
}