:root {
  --primary-tx-color: #212121;
  --secondary-tx-color: #757575;
  --secondary-bgd-color: #ffffff;
  --activate-btn-color: #2196F3;

}


body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--primary-tx-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bgd-color);
}

/**
  |============================
  | Reset
  |============================
*/

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.hide-title {
  visibility: hidden;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;


}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

}


/**
  |============================
  | Header section
  |============================
*/
.header {
  border-bottom: 1px solid #ececec;
}

.navi-about {
  display: flex;
  margin-right: auto;
  gap: 50px;

}

.navi {
  display: flex;
  margin-right: auto;
  gap: 50px;
}

.navi-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--activate-btn-color);

  display: block;
  padding-top: 24px;
  margin-right: 94px;
}

.logo-color {
  color: var(--primary-tx-color);
}

.navi-item {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-tx-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.navi .current {
  color: var(--activate-btn-color);
}

.navi-item:hover,
.navi-item:focus {
  color: var(--activate-btn-color);
}

/**
  |============================
  | Main section portfolio
  |============================
*/

.page-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 34px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.card-box {
  border: 1px solid #EEEEEE;
}


.button {
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-color: transparent;

  color: var(--primary-tx-color);
  text-align: center;
  padding: 6px 22px;
}


.button:hover,
.button:focus {
  color: var(--secondary-bgd-color);
  background: var(--activate-btn-color);
}


.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-tx-color);
  margin-top: 20px;
  margin-bottom: 4px;

  padding-right: 24px;
  padding-left: 24px;


}

.text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-tx-color);
  margin-right: 24px;
  margin-left: 24px;
  padding-bottom: 20px;


}

.list .navi-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-tx-color);
  text-decoration: none;
  margin-top: 32px;
  margin-right: 50px;
}

.list .navi-item:hover,
.list .navi-item:focus {
  color: var(--activate-btn-color);
}

/**
  |============================
  | Main section studio
  |============================
*/

.hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-bgd-color);
  margin-bottom: 30px;

}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-bgd-color);
  background: var(--activate-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

}

/**
  |============================
  | Description with posts
  |============================
*/

.post-list {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;

}

.post .sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-tx-color);
  margin-bottom: 10px;

}

.post .text-title {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-tx-color);

}



/**
  |============================
  | Project
  |============================
*/

.project-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-tx-color);
  margin-bottom: 50px;

}



/**
  |============================
  | Team Photos
  |============================
*/

.team {
  background: #F5F4FA;
}

.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-tx-color);

  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;

}

.team-card {
  background: var(--secondary-bgd-color);
  background: #FFFFFF;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  margin-right: 30px;
  margin-bottom: 30px;

}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-tx-color);
  margin-bottom: 10px;
}

.team-worked {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-tx-color);
  padding-bottom: 30px;

}

/**
  |============================
  | Footer
  |============================
*/

.footer {

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  background: #2F303A;

}



.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-bgd-color);
  display: block;

  padding-top: 60px;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer .logo-color {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--activate-btn-color);
}


.adress .map {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-bgd-color);
  margin-top: 20px;
  margin-bottom: 9px;

}

.adress .footer-item {
  text-decoration: none;
  display: block;
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

}

.adress .footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress .padding {
  padding-bottom: 60px;
}

.adress .footer-item:hover,
.adress .footer-item:focus {
  color: var(--activate-btn-color);
}